* {
  box-sizing: border-box;
  font-family: "Poppins";
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

a {
  color: #081f89 !important;
}

.nav-bar {
  color: #081f89;
  font-size: 0.875rem;
  height: 100px;
  padding-inline: 10%;
}

li {
  font-weight: 600;
}

.nav-img {
  height: 90px;
  width: 90px;
}

.social-links {
  bottom: 40%;
  left: 0;
  position: fixed;
  width: fit-content;
}

.hero-container {
  margin-top: 110px;
  padding-inline: 10%;
}

.hero-text {
  color: #000e42;
  font-size: 4rem;
  font-weight: 700;
  line-height: 70.4px;
}

.hero-btn {
  background-color: #00208a !important;
  color: #fff !important;
}

.hero-img {
  height: 500px;
}

.whatsapp-container {
  background-color: #2db742;
  border-radius: 50%;
  padding: 8px;
}

.whatsapp-main-container {
  bottom: 30px;
  left: 30px;
  position: fixed;
}

.whatsapp-text {
  font-size: 0.75rem;
}
